﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SI.Master" AutoEventWireup="true" CodeBehind="Dashboard.aspx.cs" Inherits="SI.WebPage.Dashboard" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
