﻿
/*html {
  height: 100%;
  box-sizing: border-box;

  font-size: 11px; 
  font-family: Arial, Helvetica, sans-serif;

}*/
/*.k-grid {
    font-size: 10px;
}*/

.k-grid-header th.k-header {
    
    background: none repeat scroll 0% 0% #0092c8;
    border-style:solid;
    border-width: 1px 1px 0px 0px;
    color: #E1EFF6;
    /*border:solid;*/
}


.k-grid th.k-header .k-link {
    color: #FFF;
   
}

.k-radio:checked+.k-radio-label:after {
    top: 3px;
    left: 3px;
}